<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="static/about.css" />
    <script src="static/appab.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="menu">
          <h3 class="logo">LIN<span>Ware</span></h3>
          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </div>

      <div class="main-container">
        <div class="main">
          <header>
            <div class="overlay">
              <div class="title"><h1>About</h1></div>  
              <div class="quote">
                <span class="n1">Talk is cheap.</span>
                  <span class="n2">Show me_</span>
                  <br><span class="n3">{The Code}</span>
                  <br><span class="n4"><p style="color: yellowgreen"><span class="n5">- Linus Torvalds</span><span class="n6"> ,Developer of Linux</span></p></span>                                
                              
              </div> 
              <br>
              
              
              <div class="para">
                <p><h1>Reader's Note</h1></p>
                <p><span class="n1">LINWare</span> a project which offers an interface for user to run Linux terminal on your browser.<br> 
                  No matter whether you want to practice Linux commands or just analyze/test your shell scripts online LIMWare offers you both.<br>
                  This is particularly helpful when you are using the Windows operating system.<br>Though you can install Linux inside Windows using Windows Subsystem for Linux, using online Linux terminals is often more convenient for a quick test.</p>
              </div> 

              <div class="mtt"><h1>Meet The Team<h1></div>
              
              <label>
                <button id="demo" type="submit" class="btn1" formaction="/navi_team" onclick="getintouch()">Click</button>
              </label>
              
            </div> 

            
            
                       

          </header>
          
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
      </div>

      <div class="links">
        <ul>
          <li>
            <a href="index.html" style="--i: 0.05s;">Home</a>
          </li>          
          <li>
            <a href="about.html" style="--i: 0.25s;">About Us</a>
          </li>
          <li>
            <a href="getintouch.html" style="--i: 0.3s;">Get In Touch</a>
          </li>
        </ul>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
