<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/centos.css">
    <title>CentOS</title>
    
</head>
<body>
 <form>
     <img src="static/img/centos.png" width="250" height="150">
     <div id="sqr">
        <label>
            <button id="demo" type="submit" class="btn1"  formaction="/selector">Back</button>
        </label>
     </div>
 </form>
 <form>
     <div class="square"></div>
 
     <h2>Choose The Command</h2>

     <div class="form-box">
        <label>
           <input type="radio" value="date" name="cmdname">
           <div class="circle"></div>
           <span>Current Date</span>
        </label>
        <label>
           <input type="radio" value="cal" name="cmdname">
           <div class="circle"></div>
           <span>Current Month Calander</span>
        </label>
        <label>
           <input type="radio" value="ifconfig" name="cmdname">
           <div class="circle"></div>
           <span>System IP</span>
        </label>
        <label>
            <input type="radio" value="free -l" name="cmdname">
            <div class="circle"></div>
            <span>Free RAM</span>
         </label>
         <label>
            <input type="radio" value="df" name="cmdname">
            <div class="circle"></div>
            <span>About Your Hard Disk</span>
         </label>

        
        <button formaction="http://192.168.43.12/cgi-bin/centos.py?mycmd=${cmdname}" id="demo" type="submit" class="btn2 solid">Submit</button>
 </form>
 <form>
        <div class="square"></div>
        
        <div class="h4">
            <h3>Enter The Manual Command</h3>
        </div>
        
    
        <div class="box2">          
            <textarea name="cmdname" rows="10" cols="30" placeholder="Enter the Command" ></textarea>
        </div> 
        
        <button formaction="http://192.168.43.12/cgi-bin/centos.py?mycmd=${cmdname}" id="demo" type="submit" class="btn4 solid">Submit</button>

 <form>
        
</body>
</html>

