<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team</title>
    
    <link rel="stylesheet" href="static/meettheteam.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="menu">
          <h3 class="logo">LIN<span>Ware</span></h3>
          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </div>

      <div class="main-container">
        <div class="main">
          <header>
            <div class="overlay">
              <div class="inner">
                <h2 class="title">Meet The Team</h2>
                
                <div class="items">
                  <div class="item">
                      <figure>
                          <img src="static/img/bhavya.png" alt="Image profile">
                      </figure>
                      <div class="info">
                          <p class="name">Bhavya Jain</p>
                          <p class="role">Frontend Dev</p>
                          <div class="social">
                              <a href="https://www.linkedin.com/in/bhavya-jain-b44a90191/" target="_blank" ><i class="fab fa-linkedin-in"></i></a>               
                          </div>
                      </div>
                  </div>
          
                  <div class="item">
                      <figure>
                          <img src="static/img/chirag.jpg" alt="Image profile">
                      </figure>
                      <div class="info">
                          <p class="name">Chirag Nagori</p>
                          <p class="role">Backend dev</p>
                          <div class="social">
                            <a href="https://www.linkedin.com/in/chirag-nagori/" target="_blank" >
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                                                 
                          </div>
                      </div>
                  </div>
          
                  <div class="item">
                      <figure>
                          <img src="static/img/damiyant.png"  alt="Image profile">
                      </figure>
                      <div class="info">
                          <p class="name">Damiyant Parakh</p>
                          <p class="role">UI/UX</p>
                          <div class="social">
                            <a href="https://www.linkedin.com/in/damiyant-parakh-243784205 " target="_blank" >
                              <i class="fab fa-linkedin-in"></i>   
                            </a>                 
                          </div>
                      </div>
                  </div>
              </div>
                
              </div>
            </div>
          </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
      </div>

      <div class="links">
        <ul>
          <li>
            <a href="hindex.html" style="--i: 0.05s;">Home</a>
          </li>          
          <li>
            <a href="about.html" style="--i: 0.25s;">About Us</a>
          </li>
          <li>
            <a href="getintouch.html" style="--i: 0.3s;">Get In Touch</a>
          </li>
        </ul>
      </div>
    </div>

    <script src="static/happ.js"></script>
  </body>
</html>
